body {
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blanchedalmond;
}
.row {
    display: flex;
}
.column {
    flex: 33%;
    text-align: left;
    border: 3px solid rgb(170, 3, 170);
}
img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
p {
    padding: 10px;
}
ul{
    list-style-position: inside;
}
h1, h2{
    text-align: center;
    text-decoration: underline;
}
